.container {
  text-align: center;
  background-color: tomato;
  width: 360px;
  margin: auto;
}

.table {
  display: grid;
  justify-content: center;
  text-align: center;
}

th,
td {
  border: 1.5px solid black;
  padding: 6px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #929e;
  color: white;
  width: 100px;
}

th {
  background-color: #929e;
}
td {
  background-color: #04aa6d;
}

tr td:hover {
  background-color: red;
}

.stocks {
  align-items: center;
}
